* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 12);
    font-weight: 300;
    
}

nav {
    background-color: rgb(199, 43, 76);
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 12);
    align-items: center;
    height: 60px;
}

.logo {
    width:15%;
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 5px;
    padding: 0px 6px;
    border-TOP: 5px solid rgb(0, 0, 12);
}

.nav-items {
    font-family: 'Crimson Text', serif;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    width: 55%;
    height: 30px;
}

.nav-items a {
    color:  rgb(0, 0, 12);
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 20px 60px;
}

.nav-items li {
    list-style: none;
}

.nav-items a:hover {
    background-color: rgb(0, 0, 12);
    color: rgb(199, 43, 76);

}

.main-content {
    color:whitesmoke;
    margin: 30px auto;
    width:55%;
    border: 3px solid  rgb(199, 43, 76);
    
}

.first-thread {
    padding: 5px;
}

.spacer {
    background-color: silver;
    height: 5px;
    margin: 0px 5px;
}
.thread-title {
    padding: 5px 0px 0px 5px;
    color: rgb(0, 0, 12);
    background-color: rgb(199, 43, 76);
    margin: 5px 5px;
}
.thread-author-section {
    font-family: 'Crimson Text', cursive;

    color:rgb(0, 0, 12);
    background-color:  rgb(199, 43, 76);
    margin: 5px 5px;
    width: 30%;  
    padding: 5px 5px;
    height: 65px;  
}

.post-date p {
    font-size: 12px;
    padding-bottom:5px;
}



.author-subsection {
    display: flex
}
.author-data-container {
    margin-left: 5px;
}
.author-avatar {
    float:left;
}

.author-nickname {
    font-size: 12px;
}